<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heziz.liyang">

    <!-- 更新测试 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />
    <permission
        android:name="com.heziz.liyang.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.heziz.liyang.permission.JPUSH_MESSAGE" />
    <!-- 允许程序录制音频 -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="oK0saLRiGguDdTLiXPfEdsuy26ycITRC" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="PGYER_APPID"
            android:value="a804dbbcda17773b863a4dad0cbfe5e3" />

        <service
            android:name=".service.MyJpushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.MyJPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.heziz.liyang" />
        </intent-filter>
        </receiver>

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity">
        </activity>
        <activity
            android:name=".ui.zhihui.sp.VXiangqingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.heziz.liyang.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".ui.project.ProjectDetailsActivity" />
        <activity android:name=".ui.zhihui.clwcx.CarDetailsActivity" />
        <activity android:name=".ui.zhihui.yc.YcDetailsActivity" />
        <activity android:name=".ui.home.HomeTotalActivity" />
        <activity android:name=".ui.home.HomeTypeActivity" />
        <activity android:name=".ui.home.HomeProjectListActivity" />
        <activity android:name=".ui.home.HomeTotalListActivity" />
        <activity android:name=".ui.zhihui.yc.StreetYcDeviceListActivity" />
        <activity
            android:name=".ui.zhihui.sp.SpDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.zhihui.yc.YcStreetProjectListActivity" />
        <activity android:name=".ui.zhihui.fdl.FdlStreetDeviceListActivity" />
        <activity android:name=".ui.zhihui.fdl.FDLProjectListActivity" />
        <activity android:name=".ui.zhihui.fdl.FDLProjectDetailListActivity" />
        <activity android:name=".ui.zhihui.sp.SpStreetDeviceListActivity" />
        <activity android:name=".ui.zhihui.sp.SpStreetProjectActivity" />
        <activity android:name=".ui.zhihui.clwcx.ClwcxStreetDeviceActivity" />
        <activity android:name=".ui.rcjc.WDBGDZCActivity" />
        <activity android:name=".ui.zhihui.clwcx.ClcxStreetProjectActivity" />
        <activity android:name=".ui.zhihui.bjxx.yc.MineYcListActivity" />
        <activity android:name=".ui.mine.wdbygs.MineWDBYGSListActivity" />
        <activity android:name=".ui.zhihui.bjxx.yc.MineYcGJProjectXXListActivity" />
        <activity android:name=".ui.mine.zxjc.MineZXJCListActivity" />
        <activity android:name=".ui.zhihui.bjxx.clcx.MineCLCXListActivity" />
        <activity android:name=".ui.zhihui.bjxx.clcx.MineCLCXProjectXXActivity" />
        <activity android:name=".ui.mine.fdl.MineFdlListActivity" />
        <activity android:name=".ui.mine.fdl.MineFDLdetailsActivity" />
        <activity android:name=".ui.mine.wdbygs.MineWDBYGSdetailsActivity" />
        <activity android:name=".ui.mine.wdbygs.MineWDBYGSZGDetailsActivity" />
        <activity android:name=".ui.mine.zxjc.MineZXJCDetailsActivity" />
        <activity android:name=".ui.mine.zxjc.MineZXJCZGDetailsActivity" />
        <activity android:name=".ui.zhihui.clwcx.ClcxDeviceDetailsActivity" />
        <activity android:name=".ui.rcjc.HGLActivity" />
        <activity android:name=".ui.rcjc.WebviewActivity" />
        <activity
            android:name=".bigimage.JBrowseImgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Full" />
        <activity android:name=".ui.zhihui.zcwj.XWZXListActivity" />
        <activity android:name=".ui.zhihui.zcwj.WebActivity" />
        <activity android:name=".ui.mine.mineinfo.MineInfoActivity" />
        <activity android:name=".ui.mine.mineinfo.MineXGMMActivity" />
        <activity android:name=".ui.NewHomeActivity" />
        <activity android:name=".ui.zhihui.bjxx.BaojingxxActivity" />
        <activity android:name=".ui.newjm.CommActivity" />
        <activity android:name=".ui.zhihui.clwcx.CLCXListActivity" />
        <activity
            android:name=".ui.zhihui.clwcx.CLCXDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.zhihui.yc.YcDetailsNewActivity" />
        <activity android:name=".ui.newjm.TdSmzAqZlActivity" />
        <activity android:name=".ui.newjm.SanjiActivity" />
        <activity android:name=".ui.zhihui.td.TdDetailsActivity" />
        <activity android:name=".ui.zhihui.td.TdStreetInfoActivity" />
        <activity android:name=".ui.zhihui.td.TdProjectListActivity" />
        <activity android:name=".ui.project.ProjectGKActivity" />
        <activity android:name=".ui.zhihui.smz.SmzDetailsActivity" />
        <activity android:name=".ui.zhihui.smz.SmzStreetInfoActivity" />
        <activity android:name=".ui.zhihui.smz.SmzProjectListActivity" />
        <activity android:name=".ui.zhihui.sjj.SjjStreetDataListActivity" />
        <activity android:name=".ui.zhihui.sjj.SjjProjectListActivity" />
        <activity android:name=".ui.zhihui.sjj.SjjDetailsActivity"/>
        <activity android:name=".ui.rcjc.AQZLCheckActivity"/>
        <activity android:name=".ui.rcjc.AQZLHGLActivity"/>
        <activity android:name=".ui.zhihui.sjj.SjjDetailsActivity1"/>

        <activity android:name=".ui.rcjc.ProjectCheckActivity" />
        <activity android:name=".ui.rcjc.jgfrcjc.DayCheckActivity" />
        <activity android:name=".ui.rcjc.jgfrcjc.NewDayCheckActivity" />
        <activity android:name=".ui.rcjc.jgfrcjc.NewCheckSelectProActivity" />
        <activity android:name=".ui.rcjc.jgfrcjc.NewCheckDetailsActivity" />
        <activity android:name=".ui.rcjc.jgfrcjc.CheckDetailsctivity" />
        <activity android:name=".image.ImagePreviewActivity" />
        <activity android:name=".ui.rcjc.jgfzxjc.ZXCheckActivity" />
        <activity android:name=".ui.rcjc.jgfzxjc.NewZXCheckActivity" />
        <activity android:name=".ui.rcjc.xmfzc.XMZCCheckActivity" />
        <activity android:name=".ui.rcjc.jgfzxjc.ZXCheckDetailsctivity" />
        <activity android:name=".ui.rcjc.xmfrcjc.XMRCCheckDZGActivity" />
        <activity android:name=".ui.rcjc.xmfzxjc.XMZXCheckDZGActivity" />
        <activity android:name=".ui.rcjc.xmfzc.NewZCActivity" />
        <activity android:name=".ui.rcjc.xmfzc.XMFZCDetailsctivity" />
        <activity android:name=".ui.rcjc.xmfrcjc.XMFRCDZGDetailsctivity" />
        <activity android:name=".ui.rcjc.xmfzxjc.XMFZXDZGDetailsctivity" />
    </application>

</manifest>